.con {
    background-color: white;
    display: flex;
    flex: 1;
    align-items: center;
    height: auto;
    flex-direction: column;
    padding: 0 !important;
}
.title {
    display: flex;
    width: 100%;
    height: 200px;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
    flex-direction: column;
    background-color: gray;
}
.tableWrapper {
    display: flex;
    margin-top: 50px;
}
.con td {
    text-align: center;
}
.chartWrapper {
    display: flex;
    width: 55%;
    margin-bottom: 50px;
}
.contentWrapper {
    display: flex;
}
#lectures {
    font-family: 'Saira';
}

.footer {
    background-color: black;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 50px;
    display: flex;
    position: sticky;
    color: white;
    font-family: 'Saira';
    margin-top: 40px;
}